* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* ****** header */

header {
    height: 100px;
    background-image: url("../img/pattern.png");
    background-size: 20%;
    background-color: #4ea0ff;
}

#logo-booleaner {
    width: 250px;
    margin: 30px 0px 10px 5px;
}

/* ****** / header  */

/* ****** main */

main {
    margin: 15px 5px 0 5px;
    font-size: 16px;
}

/* sezione titolo */

h3 {
    width: 85%;
    font-size: 40px;
}

section.titolo > p {
    color: gray;
}

#blu {
    color: rgba(38,171,230,255);
}

#data {
    font-size: 12px;
}

/* / sezione titolo */

/* sezione immagini */

.immagini {
    margin-top: 16px;
}

section.immagini > p {
    font-size: 12px;
}

/* / sezione immagini */

/* sezione descrizione */

section.descrizione > p {
    padding: 10px 0 20px 0;
}

section.descrizione > ul {
    padding-left: 15px;
}

.testo-giallo {
    background: rgba(253,253,0,255);
}

/* / sezione descrizione */

/* sezione tabella */

table {
    margin-top: 20px;
    border-spacing: 0;
}

th {
    color: white;
    width: 25%; 
}

#terza-colonna {
    width: 50%;
}

#riga-intestazione {
    background: rgba(32,169,229,255);
}

.righe-dispari {
    background: rgba(177,229,242,255);
}

/* /sezione tabella */

/* sezione testo finale */

.testo-finale {
    padding-top: 20px;
}

/* / sezione testo finale */

/* ****** / main */

/* ****** footer */

footer {
    margin: 30px 0 20px 5px;
}

footer > strong {
    color: grey;
    display: block;
}

footer > img {
    margin-top: 10px;
}

/* ****** / footer */